/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
body, div, p, span, a, button, h1, h2, h3, h4, h5, h6, li {
    font-family: 'Montserrat', sans-serif !important;
}

body {
    color: #2C3E50 !important;
    /* background-color: #e2e8f0; */
    background-color: #FFFFFF;
    text-align: left;
    background-image: url("../../resources/images/flower_bg.jpg") !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh !important;
    padding-top: 56px !important;
    padding-bottom: 56px !important;
}

a, button, .myelements {
    -ms-touch-action: manipulation;
    /* IE10  */
    touch-action: manipulation;
    /* IE11+ */
}

.bg-red {
    /* background-color: #d73333; */
    background-color: #b52b4a;
}

.form-control:focus {
    box-shadow: none;
}

/* Input Fields */

input {
    outline: none;
}

input[type=text]:focus, input[type=password]:focus, select:focus, textarea:focus {
    outline: 1px solid #b52b4a !important;
    border: 1px solid transparent !important;
}

input[type="checkbox"]:checked+label:before {
    background: #b52b4a !important;
}

/* Model */

.modal-content, .modal-header {
    border-radius: 0 !important;
}

.angle-div {
    background-color: #b52b4a;
    height: 100px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 36%, 0 100%);
}

/* Main-Slider */

.main-slider-area {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    background-color: black;
    height: calc(100vh - 66px);
}

/* Member Navbar */

#userNavbarItems ul li a {
    /* font-family: 'Raleway', sans-serif !important; */
    /* font-weight: 100 !important; */
    text-transform: uppercase;
    font-size: 0.8em !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

#userNavbarItems ul li a:hover {
    background-color: #A12744 !important;
    border-radius: 20px !important;
    color: #FFFFFF;
}

#userNavbarItems .active {
    background-color: #A12744 !important;
    border-radius: 20px !important;
}

#mobile-navbar {
    left: 5px;
    right: 5px;
    bottom: 10px;
    border-radius: 23px;
    box-shadow: 0 0px 2.2px rgba(0, 0, 0, 0.031), 0 0px 5.3px rgba(0, 0, 0, 0.044), 0 0px 10px rgba(0, 0, 0, 0.055), 0 0px 17.9px rgba(0, 0, 0, 0.066), 0 0px 33.4px rgba(0, 0, 0, 0.079), 0 0px 80px rgba(0, 0, 0, 0.11);
    transition: bottom 0.3s;
}

#mobile-navbar .menu-button {
    color: #FFFFFF !important;
    -webkit-text-stroke: 1.5px #B0BEC5;
    font-size: 1.2em;
}

#mobile-navbar .active {
    color: #b52b4a !important;
    -webkit-text-stroke: 0;
}

/* Profile  */

.card-body input[type="text"]:disabled, .card-body textarea:disabled {
    background: #ffffff !important;
    text-transform: capitalize !important;
}

.nick-name {
    text-transform: capitalize;
}

.card {
    border-radius: 0 !important;
}

.mini-profile-picture {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.63);
    border: 2px solid #FFFFFF;
    width: 40px;
    height: 40px;
}

.mini-profile-picture img {
    object-fit: cover;
    width: 36px;
    height: 36px;
    margin: 0 auto;
}

/* Search Fields */

.container-search {
    box-shadow: 0 0.7px 2.2px rgba(0, 0, 0, 0.02), 0 1.7px 5.3px rgba(0, 0, 0, 0.028), 0 3.1px 10px rgba(0, 0, 0, 0.035), 0 5.6px 17.9px rgba(0, 0, 0, 0.042), 0 10.4px 33.4px rgba(0, 0, 0, 0.05), 0 25px 80px rgba(0, 0, 0, 0.07);
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    padding: 0 !important;
}

.txt-search {
    /* background: #eee; */
    -moz-border-radius: 20px 0px 0px 20px;
    -webkit-border-radius: 20px 0px 0px 20px;
    border-radius: 20px 0px 0px 20px;
    border: 1px solid transparent !important;
}

.txt-search:focus {
    background: #FFFFFF;
}

.txt-search::-webkit-input-placeholder {
    color: #999;
    font-size: 0.8em;
}

.txt-search:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.txt-search:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.btn-search {
    border: 0;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    background: #b52b4a;
    -moz-border-radius: 0 20px 20px 0;
    -webkit-border-radius: 0 20px 20px 0;
    border-radius: 0 20px 20px 0;
}

.btn-search:hover {
    background: #A12744;
}

.btn-search:focus {
    box-shadow: none !important;
}

.btn-search:active {
    background: #A12744 !important;
}

.btn-search:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #b52b4a transparent;
    top: 12px;
    left: -6px;
}

.btn-search:hover:before {
    border-right-color: #A12744;
}

.btn-advance-search {
    color: #999999;
    font-size: 0.8em;
    font-weight: 600 !important;
}

.btn-advance-search:hover {
    text-decoration: none;
}

/* Mobile Support */

@media (max-width: 576px) {
    /* Padding */
    .p-xs-0 {
        padding: 0 !important;
    }
    .pl-xs-0 {
        padding-left: 0 !important;
    }
    .pr-xs-0 {
        padding-right: 0 !important;
    }
    .pt-xs-0 {
        padding-top: 0 !important;
    }
    .pb-xs-0 {
        padding-bottom: 0 !important;
    }
    /* List Group */
    .list-group-item {
        padding: .5rem 1.25rem !important;
    }
    /* Profile Card */
    .card .profile-card {
        height: auto !important;
    }
}