      /* body {
          background-color: #FFFFFF;
          background-image: url(<?= base_url("resources/images/flower_bg.jpg") ?>);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
      } */

      /* 
      body {
          padding-bottom: 56px !important;
      } */

      .main-container {
          /* background-color: black; */
          min-height: 100vh;
      }

      .member-menubar-row {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          margin-right: -15px;
          margin-left: -15px;
      }

      .member-menubar-row .btn-light.focus, .btn-light:focus {
          box-shadow: none !important;
      }

      .member-menubar-row a {
          flex-wrap: nowrap !important;
          border-radius: 0;
          background-color: #559FF8 !important;
          color: #FFFFFF !important;
      }

      .member-menubar-row .active {
          background-color: #46659e !important;
          color: #FFFFFF !important;
      }

      .card {
          border: none !important;
          box-shadow: 0 2.2px 2.2px rgba(0, 0, 0, 0.02), 0 5.4px 5.3px rgba(0, 0, 0, 0.028), 0 10.1px 10px rgba(0, 0, 0, 0.035), 0 18.1px 17.9px rgba(0, 0, 0, 0.042), 0 33.8px 33.4px rgba(0, 0, 0, 0.05), 0 81px 80px rgba(0, 0, 0, 0.07);
      }

      .card-body {
          padding: 0 !important;
      }

      .profile-card {
          margin-top: 80px;
          height: 329px;
      }

      .profile-card .overlay {
          bottom: 60px;
          position: relative;
      }

      .card-img-block {
          margin: 0 auto;
          position: relative;
          overflow: hidden;
          border-radius: 50%;
          border: 5px solid #FFFFFF;
          width: 150px;
          height: 150px;
          background-color: #FFFFFF;
          box-shadow: 0 0.6px 2.2px rgba(0, 0, 0, 0.031), 0 1.3px 5.3px rgba(0, 0, 0, 0.044), 0 2.5px 10px rgba(0, 0, 0, 0.055), 0 4.5px 17.9px rgba(0, 0, 0, 0.066), 0 8.4px 33.4px rgba(0, 0, 0, 0.079), 0 20px 80px rgba(0, 0, 0, 0.11);
      }

      .card-img-block img {
          object-fit: cover;
          width: 140px;
          height: 140px;
          margin: 0 auto;
      }

      .profile-card h5 {
          color: #263238;
          font-weight: 600;
          text-align: center;
          height: 24px;
          overflow: hidden;
      }

      .profile-card p {
          font-size: 1em;
          font-weight: 400;
          text-align: center;
      }

      .profile-card .btn {
          border-radius: 0 !important;
          text-transform: uppercase;
          font-size: 12px;
          padding: 10px 20px;
      }

      .profile-card .btn-primary {
          background-color: #b52b4a;
          border: 2px solid #b52b4a;
          font-size: 1em;
          margin-top: 2px;
          width: 100%;
          transition: 0.6s;
      }

      .profile-card .btn-primary:hover {
          background-color: #FFFFFF;
          color: #b52b4a;
          font-size: 1em;
          width: 100%;
      }

      .profile-card .btn-primary:focus {
          box-shadow: none;
      }

      .profile-card .btn-primary:active {
          background-color: #b52b4a !important;
          border: 2px solid #b52b4a !important;
          box-shadow: none !important;
      }

      .profile-card .card-percentage {
          color: #b52b4a;
          position: relative;
      }

      .profile-card .card-percentage .percentage-left, .profile-card .card-percentage .percentage-right {
          padding: 0 !important;
          margin: 0 !important;
          font-size: 2em;
          font-weight: 600;
          text-align: center !important;
      }

      .profile-card .card-percentage .text-left, .profile-card .card-percentage .text-right {
          padding: 0 !important;
          margin: 0 !important;
          font-size: 0.8em;
          text-align: center !important;
      }

      .profile-card .card-title {
          margin: 0 !important;
          padding: 0 !important;
          /* top: 10px; */
      }

      .profile-card .card-designation {
          position: relative;
          color: #455a64 !important;
          font-weight: 400;
          text-align: center;
          font-size: 0.8em;
          margin: 0 !important;
          padding: 0 !important;
          /* top: 10px; */
      }

      .profile-card .card-text {
          position: relative;
          color: #455a64 !important;
          text-align: center;
          font-size: 0.8em;
          margin: 0 !important;
          padding-left: 5px !important;
          padding-right: 5px !important;
          width: 100%;
          height: 59px;
          overflow: hidden;
          /* top: 10px; */
      }

      .profile-card .profile-heart {
          z-index: 1;
          color: #b0bec5;
          font-size: 1.4em;
          position: absolute;
          right: 5px;
          transition: 0.2s;
          border: none !important;
          background-color: transparent;
          cursor: default;
      }

      .profile-card .profile-heart:hover {
          cursor: pointer !important;
      }

      .profile-card .profile-heart:focus {
          outline: none !important;
          cursor: pointer !important;
      }

      .like {
          color: #e91e63 !important;
      }

      .badge-trustVerified {
          color: #e8f5e9;
          background-color: #2e7d32 !important;
          text-transform: uppercase;
      }

      .badge-trustProving {
          color: #FFFFFF;
          background-color: #9ccc65 !important;
          text-transform: uppercase;
      }

      .badge-notTrustVerified {
          color: #FFFFFF;
          background-color: #607d8b !important;
          text-transform: uppercase;
      }

      .badge-label {
          margin: 0 !important;
          padding: 0 !important;
          position: relative;
          /* top: 10px; */
      }

      .profile-card .premium_badge {
          background-color: #ffca28;
          position: absolute !important;
          width: 100%;
          font-size: 0.6em !important;
          padding: 4px 0px 0px 0px !important;
          margin: 0 !important;
          font-weight: 600 !important;
          z-index: 1;
      }

      .profile-card .photo-count {
          position: absolute;
          width: 100%;
          margin: 0 !important;
          padding: 0 !important;
          color: #FFFFFF;
          bottom: 5px;
          font-size: 0.7em !important;
      }

      @media (max-width: 768px) {
          .profile-card {
              margin-top: 80px;
              height: 245px;
          }
          /* .profile-card .btn {
              margin-top: 10px;
          } */
          .profile-card .card-text {
              height: 40px;
          }
          .percentage-row {
              position: absolute;
              width: 100%;
              top: 100px;
              left: 15px;
          }
          .profile-card .card-percentage .percentage-left {
              text-align: left !important;
          }
          .profile-card .card-percentage .text-left {
              text-align: left !important;
          }
          .profile-card .card-percentage .percentage-right {
              text-align: right !important;
          }
          .profile-card .card-percentage .text-right {
              text-align: right !important;
          }
          .profile-card .profile-heart {
              font-size: 2em;
              right: 10px;
          }
          .member-menubar {
              width: 100%;
              background-color: black;
              overflow: scroll;
          }
          .member-menubar::-webkit-scrollbar {
              display: none;
          }
          /* .member-menubar-row button {
              flex-wrap: nowrap !important;
              border-radius: 0;
              background-color: #559FF8 !important;
              color: #FFFFFF !important;
          }
          .member-menubar-row .active {
              background-color: #46659e !important;
              color: #FFFFFF !important;
          } */
          .member-menubar-row {
              flex-wrap: nowrap;
              margin-right: 0;
              margin-left: 0;
          }
          .member-menubar-row .float-right {
              float: none !important;
              margin-left: 10px !important;
          }
          .member-menubar .btn {
              /* min-width: 200px; */
              white-space: nowrap;
              text-align: center;
              padding: 10px 15px !important;
              /* height: 72px; */
          }
          .mt-5 {
              margin-top: 1rem!important;
              margin-bottom: 1rem!important;
          }
      }

      @media only screen and (max-width: 1199px) and (min-width: 992px) {
          .profile-card .card-text {
              height: 56px;
              overflow: hidden;
              font-size: 0.8em !important;
              padding-left: 2px !important;
              padding-right: 2px !important;
          }
          .profile-card .btn-primary {
              font-size: 1em;
              bottom: -10px !important;
              position: relative;
              float: left;
              width: 100%;
              padding: 7px !important;
          }
      }

      .uk-badge {
          background-color: #FFFFFF !important;
          color: #263238 !important;
          box-shadow: 0 0.1px 2.2px rgba(0, 0, 0, 0.02), 0 0.1px 5.3px rgba(0, 0, 0, 0.028), 0 0.3px 10px rgba(0, 0, 0, 0.035), 0 0.4px 17.9px rgba(0, 0, 0, 0.042), 0 0.8px 33.4px rgba(0, 0, 0, 0.05), 0 2px 80px rgba(0, 0, 0, 0.07);
      }

      .uk-badge:hover {
          color: #263238 !important;
      }

      /* Medium devices (landscape tablets, 768px and up) */

      /* @media only screen and (max-width: 1200px) { */

      @media (max-width: 920px) {
          body {
              background-size: auto;
              background-position: unset;
              /* background-repeat: no-repeat; */
          }
      }